
<nav class="navbar px-5  ">
    <div class="logo  ">
        <a href="/homepage" class="">
            <h1>S.O.S. <br> HELMET</h1>
        </a>
    </div>

    <ul class="section d-flex   align-items-center justify-content-center ">
        <li class="  px-5"><a href="/homepage" class="hover:text-gray-400">Chi Siamo</a></li>
        <li class="  px-5"><a href="/guide" class="hover:text-gray-400">Guida</a></li>
        <!-- <li class="  px-5"><a href="/claim/test" class="hover:text-gray-400"><img src="../../../assets/img/language/ita.png" alt=""></a></li> -->
        <!-- <li class="  px-5"><a href="/claim/test" class="hover:text-gray-400">Log In</a></li> -->
        <!-- Add more links as needed -->
    </ul>


</nav>
