<app-navbar></app-navbar>

<div class="scheda-wrapper">
  <div *ngIf="!isLoaded">Caricamento...</div>
  <div *ngIf="isLoaded && errorMsg">
    <div class="alert">{{ errorMsg }}</div>
    <!-- Se scheda non compilata, mostra login -->
    <button *ngIf="errorMsg.includes('non compilata')" (click)="goToClaim()">
    Login e compila scheda
    </button>
  </div>
  <div *ngIf="isLoaded && !errorMsg && medicalData">
    <h2>Scheda Sanitaria</h2>
    <div><b>Gruppo sanguigno:</b> {{ medicalData.bloodType }}</div>
    <div><b>Allergie:</b> {{ medicalData.allergies }}</div>
    <div><b>Patologie:</b> {{ medicalData.conditions }}</div>
    <div><b>Note:</b> {{ medicalData.notes }}</div>
    <div *ngIf="medicalData.emergencyContacts.length">
      <b>Contatti d'emergenza:</b>
      <ul>
        <li *ngFor="let c of medicalData.emergencyContacts">
          {{ c.name }} ({{ c.relation }}) - {{ c.phone }}
        </li>
      </ul>
    </div>
  </div>
</div>


<app-footer></app-footer>
