<nav class="navbar">
  
  <div class="navbar-logo">
    <a routerLink="/homepage">
      <h1>S.O.S.<br>HELMET</h1>
    </a>
  </div>

  <div class="navbar-links-desktop">
    <a routerLink="/homepage" routerLinkActive="active">Homepage</a>
    <a routerLink="/about" routerLinkActive="active">Chi Siamo</a>
    <a routerLink="/guide" routerLinkActive="active">Guida</a>
    <a routerLink="/products-services" routerLinkActive="active">Kit e Piani</a>
  </div>

  <div class="navbar-user-desktop">
    <button 
      class="theme-toggle" 
      (click)="toggleTheme()" 
      [class.dark]="isDark$ | async" 
      aria-label="Toggle theme">
      <fa-icon class="icon sun-icon" [icon]="faSun"></fa-icon>
      <fa-icon class="icon moon-icon" [icon]="faMoon"></fa-icon>
    </button>
    
    @if (user$ | async; as user) {
      <a [routerLink]="['/dashboard']" class="user-link" routerLinkActive="active">Area Riservata</a>
      <button class="btn-logout" (click)="logout()">Logout</button>
    } @else {
      <a routerLink="/login" class="btn-login">Log In</a>
    }
  </div>
  
  <button class="navbar-toggler" (click)="toggleMenu()">
    <span class="toggler-icon"></span>
    <span class="toggler-icon"></span>
    <span class="toggler-icon"></span>
  </button>

</nav>

<div class="mobile-menu" [class.is-open]="isMenuOpen">
  <a routerLink="/homepage" (click)="closeMenu()">Home</a>
  <a routerLink="/about" (click)="closeMenu()">Chi Siamo</a>
  <a routerLink="/guide" (click)="closeMenu()">Guida</a>
  <a routerLink="/products-services" (click)="closeMenu()">Kit e Piani</a>

  <hr>
  
  @if (user$ | async; as user) {
    <a [routerLink]="['/dashboard']" (click)="closeMenu()">Area Riservata</a>
    <a (click)="logoutAndCloseMenu()">Logout</a>
  } @else {
    <a routerLink="/login" (click)="closeMenu()">Log In</a>
  }

  <button 
    class="theme-toggle" 
    (click)="toggleTheme(); closeMenu()" 
    [class.dark]="isDark$ | async" 
    aria-label="Toggle theme">
    <fa-icon class="icon sun-icon" [icon]="faSun"></fa-icon>
    <fa-icon class="icon moon-icon" [icon]="faMoon"></fa-icon>
  </button>
</div>