.container {
    width: 40rem;
    // height: 100vh;
    overflow: hidden;
}
.container img{
    // width: 30rem;
    // height: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
}